@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

/*reset*/
h1, h2, h3{
   font-size: inherit;
   font-weight: inherit;
   margin: 0;
}

/* typo */
:root {
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 500;
}

 /* Layout */
 .wrapper{
    width: 748px;
    margin: 0 auto;
    background-color: yellowgreen;
 }
 .main-header{
   width: 386px;
   margin: 0 auto;
   margin-bottom: 86px;
   background-color: wheat;
 }

 h1 img{
   object-fit: cover;
 }

 .section-wrap{
   width:100%;
   background-color: yellow;
 }